.msgBoard {
  height: calc(100vh - 3.5rem - 4rem);
  padding: 0.8rem;
  overflow-y: auto;
}

.msgBoard__msgList {
}

.msgList__msgItem {
}

.botMsg {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 0.2rem;
}

.botMsg + .userMsg {
  margin-top: 0.5rem;
}

.userMsg + .botMsg {
  margin-top: 0.5rem;
}

.userMsg {
  display: flex;
  flex-direction: column;
}

.sentMsg {
  align-items: flex-end;
}

.receivedMsg {
  align-items: flex-start;
}

.msgItem__labels {
  display: flex;
  margin-bottom: 0.2rem;
}

.receivedMsg .labels__author {
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 0.5rem;
  align-self: baseline;
  color: rgb(0, 0, 0);
}

.labels__time {
  font-size: 0.8rem;
  color: rgb(88, 88, 88);
  padding: 0 0.5rem;
  align-self: baseline;
  margin-top: 0.5rem;
}

.userMsg .msgItem__msg {
  width: 70vw;
  padding: 0.5rem;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 1rem;
}

.sentMsg .msgItem__msg {
  background-color: rgb(67, 80, 255);
}

.receivedMsg .msgItem__msg {
  background-color: rgb(124, 124, 124);
}

.hide {
  display: none;
}
